<div class="login-page">
  <div class="login-card compact">

    <div class="login-header">
      <div class="logo-wrapper">
        <img src="assets/logoOlmara.png" alt="Logo">
      </div>
      <h2>¡Bienvenido!</h2>
      <p class="subtitulo-sistema">Gestión de Envíos</p>
    </div>

    <form class="login-form">
      <mat-form-field appearance="outline" class="full-width density-compact">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="username" name="username" required />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width density-compact">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>

      <div class="actions-stack">
        <button mat-raised-button class="btn-login" (click)="login()">Ingresar</button>
        <button mat-button class="btn-cancel" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>

    <div class="login-footer">
      <p>¿No tienes cuenta? <a routerLink="/usuarios/nuevo">Regístrate</a></p>
    </div>

  </div>
</div>
